<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="GalArc.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="GalArc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<appSettings>
		<add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
		<add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection"/>
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection"/>
			</providers>
		</roleManager>
	</system.web>
	<userSettings>
		<GalArc.GUI.Properties.Settings>
   <setting name="ToMatchPath" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LastLanguage" serializeAs="String">
    <value />
   </setting>
   <setting name="IsTopMost" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="IsUnpackMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="IsPackMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DefaultEncoding" serializeAs="String">
    <value />
   </setting>
   <setting name="UnpackSelectedNode0" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UnpackSelectedNode1" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="PackSelectedNode0" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="PackSelectedNode1" serializeAs="String">
    <value>0</value>
   </setting>
  </GalArc.GUI.Properties.Settings>
	</userSettings>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
	</connectionStrings>
</configuration>
