<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GalArc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <GalArc.Properties.Settings>
      <setting name="chkbxMatch_checked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="lastLang" serializeAs="String">
        <value />
      </setting>
      <setting name="chkbxShowLog_checked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TopMost" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chkbxDecScr_checked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="chkbxUnpack_checked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chkbxPack_checked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoSaveState" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultEncoding" serializeAs="String">
        <value />
      </setting>
      <setting name="UnpackSelectedNode0" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UnpackSelectedNode1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PackSelectedNode0" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PackSelectedNode1" serializeAs="String">
        <value>0</value>
      </setting>
    </GalArc.Properties.Settings>
  </userSettings>
</configuration>