<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="GalArc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<userSettings>
		<GalArc.Properties.Settings>
   <setting name="IsDebugMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ToSaveLog" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ToAutoSaveState" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="IsExtensionsEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="IsGARbroDBEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="GARbroDBPath" serializeAs="String">
    <value />
   </setting>
   <setting name="IsSiglusKeyFinderEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SiglusKeyFinderPath" serializeAs="String">
    <value />
   </setting>
   <setting name="IsDatabaseEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DatabasePath" serializeAs="String">
    <value />
   </setting>
  </GalArc.Properties.Settings>
  <Log.Properties.Settings>
			<setting name="chkbxDebug" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="chkbxSave" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="AutoSaveState" serializeAs="String">
				<value>True</value>
			</setting>
		</Log.Properties.Settings>
	</userSettings>
</configuration>
