name: Build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        include:
          - os: ubuntu-latest
            runtime: linux-x64
          - os: windows-latest
            runtime: win-x64
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - run: dotnet publish -c Release -r ${{ matrix.runtime }}

      - uses: actions/upload-artifact@v6
        if: success()
        with:
          name: GalArc-ci-${{ matrix.runtime }}
          path: GalArc/bin/Release/net10.0/${{ matrix.runtime }}/publish