name: Release

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
        include:
          - os: windows-latest
            runtime: win-x64
            artifact: GalArc-${{ github.ref_name }}-win-x64.zip
          - os: ubuntu-latest
            runtime: linux-x64
            artifact: GalArc-${{ github.ref_name }}-linux-x64.zip

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - run: dotnet publish -c Release -r ${{ matrix.runtime }}

      - shell: pwsh
        run: Compress-Archive -Path GalArc/bin/Release/net10.0/${{ matrix.runtime }}/publish/* -DestinationPath ${{ matrix.artifact }}

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact }}
          path: ${{ matrix.artifact }}

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/download-artifact@v7

      - uses: softprops/action-gh-release@v2
        with:
          files: |
            GalArc-${{ github.ref_name }}-win-x64.zip/*
            GalArc-${{ github.ref_name }}-linux-x64.zip/*
          draft: false
          prerelease: false
          generate_release_notes: true